node_modules
.env
client/node_modules/
client/dist/
client/npm-debug.log*
client/yarn-debug.log*
client/yarn-error.log*
client/test/unit/coverage
client/test/e2e/reports
client/selenium-debug.log

# Editor directories and files
client/.idea
client/*.suo
client/*.ntvs*
client/*.njsproj
client/*.sln

# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml
